@using Wiz.Gringotts.UIWeb.Models.Transactions
@model Wiz.Gringotts.UIWeb.Models.Dashboard.BatchesWidget

@if (Model.Batches.Any())
{
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Title</h3>
            </div>

            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-3">Ref</th>
                        <th class="col-md-2">Fund</th>
                        <th class="col-md-3">Payee</th>
                        <th class="col-md-2">Amount</th>
                        <th class="col-md-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var batch in Model.Batches)
                    {
                        if (batch is ExpenseBatch)
                        {
                            var expense = (ExpenseBatch) batch;
                            <tr class="danger">
                                <td>Expense - @expense.BatchReferenceNumber</td>
                                <td>@expense.Fund.Code</td>
                                <td>@expense.Payee.Name</td>
                                <td>(@expense.Transactions.Sum(t => t.Amount).ToString("C"))</td>
                                <td>
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("BatchShow", "Expenses", new {id = expense.Id})">Select</a>
                                    <a class="btn btn-xs btn-default" href="@Url.Action("BatchEdit", "Expenses", new {id = expense.Id})">Edit</a>
                                </td>
                            </tr>
                        }

                        if (batch is ReceiptBatch)
                        {
                            var receipt = (ReceiptBatch) batch;
                            <tr class="success">
                                <td>Receipt - @receipt.BatchReferenceNumber</td>
                                <td>@receipt.Fund.Code</td>
                                <td></td>
                                <td>@receipt.Transactions.Sum(t => t.Amount).ToString("C")</td>
                                <td>
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("BatchShow", "Receipts", new {id = receipt.Id})">Select</a>
                                    <a class="btn btn-xs btn-default" href="@Url.Action("BatchEdit", "Receipts", new {id = receipt.Id})">Edit</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">View All</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var fund in Model.Funds)
                        {
                            <li><a href="@Url.Action("Show", "Funds", new {id=fund.Id})#tab-batches">@fund.Code - @fund.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}