@model Wiz.Gringotts.UIWeb.Models.Transactions.ClientBatchExpenseEditorForm
@using Wiz.Gringotts.UIWeb.Infrastructure.Extensions
@using Wiz.Gringotts.UIWeb.Models.Transactions

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "batchExpenseEditor", id = "batchExpenseEditor" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("return_url")
    @Html.HiddenFor(model => model.ConcreteModelType)
    @Html.HiddenFor(model => model.FundId)

    for (var i = 0; i < Model.AvailableTypes.Count; i++)
    {
        @Html.HiddenFor(m => m.AvailableTypes[i].Id)
        @Html.HiddenFor(m => m.AvailableTypes[i].Name)
    }
    <div>
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @Html.Partial("_BatchExpenseEditorHeaderForm", Model)

        <fieldset>
            <legend>
                Add Batch Item
            </legend>
            <div id="batch-line-item-editor"></div>
            <div class="form-group col-xs-12 col-md-12">
                <button type="button" id="add-batch-item" class="btn btn-default pull-right"><span class="fa fa-plus"></span> <u>A</u>dd</button>
            </div>
        </fieldset>

        <table id="batch-items" class="table table-condensed table-responsive table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">Client</th>
                    <th class="col-md-2">Account</th>
                    <th class="col-md-2">Amount</th>
                    <th class="col-md-2">Category</th>
                    <th class="col-md-2">Comment</th>
                    <th class="col-md-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Transactions.Any())
                {
                    <tr>
                        <td colspan="7">
                            <div class="alert alert-info" role="alert">
                                <strong>Heads up!</strong> No batch items.
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    for (var i = 0; i < Model.Transactions.Count; i++)
                    {
                        <tr class="batch-item  @(ViewData.ModelState.HasModelErrors<ClientBatchExpenseEditorForm>(m => m.Transactions[i]) ? "danger": null )">
                            <td>
                                @if (ViewData.ModelState.HasModelErrors<ClientBatchExpenseEditorForm>(m => m.Transactions[i]))
                                {
                                    <span class="fa fa-exclamation-circle" data-toggle="popover" data-placement="right" data-title="Errors"></span>
                                    <div class="popover-content" style="display: none">
                                        @Html.ValidationMessageFor(m => m.Transactions[i].ReferenceNumber)
                                        @Html.ValidationMessageFor(m => m.Transactions[i].ClientId)
                                        @Html.ValidationMessageFor(m => m.Transactions[i].ClientName)
                                        @Html.ValidationMessageFor(m => m.Transactions[i].AccountId)
                                        @Html.ValidationMessageFor(m => m.Transactions[i].AccountName)
                                        @Html.ValidationMessageFor(m => m.Transactions[i].Amount)
                                        @Html.ValidationMessageFor(m => m.Transactions[i].ExpenseCategoryId)
                                        @Html.ValidationMessageFor(m => m.Transactions[i].ExpenseCategoryName)
                                        @Html.ValidationMessageFor(m => m.Transactions[i].Comments)
                                    </div>
                                }
                                @Html.Hidden("Transactions.Index", i)
                                @Html.HiddenFor(m => m.Transactions[i].Id)
                                @Html.HiddenFor(m => m.Transactions[i].ReferenceNumber)

                                @Html.DisplayFor(m => m.Transactions[i].ClientName)
                                @Html.HiddenFor(m => m.Transactions[i].ClientId)
                                @Html.HiddenFor(m => m.Transactions[i].ClientName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Transactions[i].AccountName)
                                @Html.HiddenFor(m => m.Transactions[i].AccountId)
                                @Html.HiddenFor(m => m.Transactions[i].AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Transactions[i].Amount)
                                @*
                                    NOTE: we are using editor here specifically to get around a formatting bug
                                        see http://stackoverflow.com/a/9987915/303
                                *@
                                @Html.EditorFor(m => m.Transactions[i].Amount, new { htmlAttributes = new { @class = "hidden item-amount" } })
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Transactions[i].ExpenseCategoryName)
                                @Html.HiddenFor(m => m.Transactions[i].ExpenseCategoryId)
                                @Html.HiddenFor(m => m.Transactions[i].ExpenseCategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Transactions[i].Comments)
                                @Html.HiddenFor(m => m.Transactions[i].Comments)
                            </td>
                            <td>
                                <a class="btn btn-xs btn-default edit"><span class="fa fa-edit"></span> Edit</a>
                                <a class="btn btn-xs btn-danger remove"><span class="fa fa-trash-o"></span> Remove</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="submit" formnovalidate class="btn btn-primary" id="save"><span class="fa fa-save"></span> <u>S</u>ave</button>
                <button type="submit" class="btn btn-default" id="continue" data-url="@Request.Url.PathAndQuery"><span class="fa fa-save"></span> Save & Continue</button>
                <button type="button" class="btn btn-default" id="cancel"><span class="fa fa-trash"></span> <u>C</u>ancel</button>
            </div>
        </div>
    </div>
}

<script id="itemEditorTmpl" type="text/template">
    <div class="row">
        <input id="Index" name="Index" type="hidden" value="{{Index}}" />
        <input id="Id" name="Id" type="hidden" value="{{Id}}" />
        <div class="col-xs-2 col-md-2" id="expenseCategoryEditor" data-remote-url="@Url.Action("Index", "ExpenseCategory", new {fields = "id,name", search = "%QUERY"})">
            <div class="form-group has-feedback">
                <label class="control-label" for="ExpenseCategoryName">C<u>a</u>tegory</label>
                <input class="form-control text-box single-line first-input"
                       data-val="true"
                       data-val-account="Invalid Selection"
                       data-val-required="The Expense Category Name field is required."
                       placeholder="Select Category"
                       id="ExpenseCategoryName" name="ExpenseCategoryName" type="text" value="{{ExpenseCategoryName}}">
                <i class="form-control-feedback text-muted glyphicon glyphicon-cog spin hidden"></i>
                <span class="field-validation-valid text-danger" data-valmsg-for="ExpenseCategoryId" data-valmsg-replace="true"></span>
                <span class="field-validation-valid text-danger" data-valmsg-for="ExpenseCategoryName" data-valmsg-replace="true"></span>
                <input id="ExpenseCategoryId" name="ExpenseCategoryId" type="hidden"
                       data-val="true"
                       data-val-number="The field Expense Category Id must be a number."
                       data-val-required="The Expense Category Id field is required."
                       value="{{ExpenseCategoryId}}" />
            </div>
        </div>
        <div class="col-xs-4 col-md-4" id="clientAccountEditor" data-remote-url="@Url.Action("Index", "Clients", new {fields = "id,name,displayname,firstname,lastname,residencies,accounts,available", search = "%QUERY"})">
            <div class="form-group has-feedback">
                <label class="control-label" for="ClientName">C<u>l</u>ient</label>
                <input class="form-control text-box single-line"
                       data-val="true"
                       data-val-account="Invalid Selection"
                       data-val-required="The Client field is required."
                       placeholder="Select Client"
                       id="ClientName" name="ClientName" type="text" value="{{ClientName}}">
                <i class="form-control-feedback text-muted glyphicon glyphicon-cog spin hidden"></i>
                <span class="field-validation-valid text-danger" data-valmsg-for="ClienttId" data-valmsg-replace="true"></span>
                <span class="field-validation-valid text-danger" data-valmsg-for="ClientName" data-valmsg-replace="true"></span>
                <input id="ClientId" name="ClientId"
                       data-val="true"
                       data-val-number="The field ClientId must be a number."
                       data-val-required="The ClientId field is required."
                       type="hidden" value="{{ClientId}}" />
            </div>
        </div>
        <div class="form-group col-xs-2 col-md-2">
            <label class="control-label" for="AccountId">Acco<u>u</u>nt</label>
            @Html.DropDownList("AccountId", Enumerable.Empty<SelectListItem>(), new { @class = "form-control", @readonly = "true" })
            @Html.Hidden("AccountName")
            <span class="field-validation-valid text-danger" data-valmsg-for="AccountId" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group col-xs-2 col-md-2">
            <label class="control-label" for="Amount">Am<u>o</u>unt</label>
            <div class="input-group">
                <span id="amount-addon" class="input-group-addon"><span class="fa fa-dollar"></span></span>
                <input aria-describedby="amount-addon" class="form-control text-box single-line" id="Amount" name="Amount" type="text"
                       data-val="true"
                       data-val-regex="Enter a valid money value. 2 Decimals only allowed"
                       data-val-regex-pattern="(?=.)^\$?(([1-9][0-9]{0,2}(,[0-9]{3})*)|[0-9]+)?(\.[0-9]{1,2})?$"
                       data-val-required="The Amount field is required."
                       value="{{Amount}}" />
            </div>
            <span class="field-validation-valid text-danger" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group col-xs-2 col-md-2">
            <label class="control-label" for="Available">Available</label>
            <div class="input-group">
                <span id="amount-addon" class="input-group-addon"><span class="fa fa-dollar"></span></span>
                <input aria-describedby="amount-addon" class="form-control text-box single-line" disabled="disabled" id="Available" name="Available" type="text" value="" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-12">
            <label class="control-label" for="Comments"><u>C</u>omments</label>
            <input class="form-control text-box single-line" id="Comments" name="Comments" type="text"
                   value="{{Comments}}" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Comments" data-valmsg-replace="true"></span>
        </div>
    </div>
</script>

<script id="transactionTmpl" type="text/template">
    <tr class="batch-item">
        <td>
            <input type="hidden" id="Transactions_Index" name="Transactions.Index" value="{{Index}}">
            {{ClientName}}
            <input type="hidden" id="Transactions_{{Index}}__ClientId" name="Transactions[{{Index}}].ClientId"
                   value="{{ClientId}}">
            <input type="hidden" id="Transactions_{{Index}}__ClientName" name="Transactions[{{Index}}].ClientName"
                   value="{{ClientName}}">
        </td>
        <td>
            {{AccountName}}
            <input type="hidden" id="Transactions_{{Index}}__AccountId" name="Transactions[{{Index}}].AccountId"
                   value="{{AccountId}}">
            <input type="hidden" id="Transactions_{{Index}}__AccountName" name="Transactions[{{Index}}].AccountName"
                   value="{{AccountName}}">
        </td>
        <td>
            {{Amount}}
            <input type="hidden" class="item-amount" id="Transactions_{{Index}}__Amount" name="Transactions[{{Index}}].Amount"
                   value="{{Amount}}">
        </td>
        <td>
            {{ExpenseCategoryName}}
            <input type="hidden" id="Transactions_{{Index}}__ExpenseCategoryId" name="Transactions[{{Index}}].ExpenseCategoryId"
                   value="{{ExpenseCategoryId}}">
            <input type="hidden" id="Transactions_{{Index}}__ExpenseCategoryName" name="Transactions[{{Index}}].ExpenseCategoryName"
                   value="{{ExpenseCategoryName}}">
        </td>
        <td>
            {{Comments}}
            <input type="hidden" id="Transactions_{{Index}}__Comments" name="Transactions[{{Index}}].Comments"
                   value="{{Comments}}">
        </td>
        <td>
            <a class="btn btn-xs btn-default edit"><span class="fa fa-edit"></span> Edit</a>
            <a class="btn btn-xs btn-danger remove"><span class="fa fa-trash-o"></span> Remove</a>
        </td>
    </tr>
</script>
