@model Wiz.Gringotts.UIWeb.Models.Transactions.ExpenseEditorForm

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "expenseEditor", id = "expenseEditor" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("return_url")
    <div class="form-horizontal">
        <fieldset>
            <legend>Details</legend>
            @Html.HiddenFor(model => model.AccountId)
            @Html.HiddenFor(model => model.ParentFundId)
            @Html.HiddenFor(model => model.IsClientAccount)
            @Html.HiddenFor(model => model.OrderId)

            @for (var i = 0; i < Model.AvailableTypes.Length; i++)
            {
                @Html.HiddenFor(m => m.AvailableTypes[i].Id)
                @Html.HiddenFor(m => m.AvailableTypes[i].Name)
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Available">Available</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span id="amount-addon" class="input-group-addon"><span class="fa fa-dollar"></span></span>
                                @Html.EditorFor(model => model.Available, new {htmlAttributes = new {@class = "form-control", aria_describedby = "amount-addon", disabled = "disabled"}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Amount"><u>A</u>mount</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span id="amount-addon" class="input-group-addon"><span class="fa fa-dollar"></span></span>
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", aria_describedby = "amount-addon" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="EffectiveDate"><u>E</u>ffective Date</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span id="amount-addon" class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control", aria_describedby = "amount-addon" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="expenseCategoryEditor" data-remote-url="@Url.Action("Index", "ExpenseCategory", new {fields = "id,name", search = "%QUERY"})">
                <div class="col-md-12">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-2" for="ExpenseCategoryName">Expense <u>C</u>ategory</label>
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.ExpenseCategoryId)
                            <input class="form-control text-box single-line"
                                   placeholder="Select Category"
                                   data-val="true"
                                   data-val-category="Invalid Selection"
                                   data-val-required="The Expense Category field is required."
                                   id="ExpenseCategoryName" name="ExpenseCategoryName" type="text" value="@Model.ExpenseCategoryName">
                            <i class="form-control-feedback text-muted glyphicon glyphicon-cog spin hidden"></i>
                            @Html.ValidationMessageFor(model => model.ExpenseCategoryId, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.ExpenseCategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="ExpenseTypeId">Expense <u>T</u>ype</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.ExpenseTypeId,
                                new SelectList(Model.AvailableTypes, "Id", "Name", Model.ExpenseTypeId), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ExpenseTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.OrderId.HasValue)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="PayeeName"><u>P</u>ayee</label>
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.PayeeId)
                                @Html.HiddenFor(model => model.PayeeName)
                                @Html.EditorFor(model => model.PayeeName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.PayeeId, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.PayeeName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row" id="payeeEditor" data-remote-url="@Url.Action("Index", "Payees", new {fields = "id,name,displayaddress", search = "%QUERY"})">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="PayeeName"><u>P</u>ayee</label>
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.PayeeId)
                                <input class="form-control text-box single-line"
                                       placeholder="Select Payee"
                                       data-val="true"
                                       data-val-payee="Invalid Selection"
                                       data-val-required="The Payee field is required."
                                       id="PayeeName" name="PayeeName" type="text" value="@Model.PayeeName">
                                <i class="form-control-feedback text-muted glyphicon glyphicon-cog spin hidden"></i>
                                @Html.ValidationMessageFor(model => model.PayeeId, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.PayeeName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Memo"><u>M</u>emo</label>
                        <div class="col-md-10">
                            @if (Model.OrderId.HasValue)
                            {
                                @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.HiddenFor(model => model.Memo)
                            }
                            else
                            {
                                @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control" } })
                            }
                            @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Comments"><u>C</u>omments</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="5" id="Comments" name="Comments">@Model.Comments</textarea>
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" id="save"><span class="fa fa-save"></span> <u>S</u>ave</button>
                    <button type="submit" class="btn btn-default" id="continue" data-url="@Request.Url.PathAndQuery"><span class="fa fa-save"></span> <u>S</u>ave & Continue</button>
                    <button type="button" class="btn btn-default" id="cancel"><span class="fa fa-trash"></span> <u>C</u>ancel</button>
                </div>
            </div>
        </div>
    </div>
}
